html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="stylesheets/style.css")
        link(rel="stylesheet", href="stylesheets/carousel.css")
        link(rel="shortcut icon" href="/images/favicon.png" type="image/x-icon")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js") 
        title Main - ValorantGeoguessr
    body 
        #nav
            div#menu imh
            h1#title ValorantGeoguessr
            #account-management 
                button#login Login 
                button#signup Signup

        #map-name ​
        .carousel
        button#select(disabled) Select

        script(src="javascripts/carousel.js") 
        script(src="javascripts/index.js") 
