html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="stylesheets/style.css")
        link(rel="stylesheet", href="stylesheets/carousel.css")
        link(rel="shortcut icon" href="/images/favicon.png" type="image/x-icon")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js") 
        script(src="https://kit.fontawesome.com/daa386bf97.js") 
        title Main - ValorantGeoguessr
    body 
        #nav
            div#left-spacer 
            h1#title ValorantGeoguessr
            #account-management 
                #menu 
                    i#close.fa-solid.fa-xmark
                    if user == undefined
                        button#login Log in
                        button#signup Sign up
                    else
                        button#signout Sign out
                if user == undefined
                    span#account
                        i.fa-solid.fa-bars
                else
                    span#account.loggedin
                        div #{user}
                        img#pfp(src="/images/profile-icon.png")


        #map-name ​
        .carousel
        button#select(disabled) Select

        script(src="javascripts/carousel.js") 
        script(src="javascripts/index.js") 
        script. 
            console.log("#{user}");

