html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", type="text/css", href="/stylesheets/options.css")
        title Options - ValorantGeoguessr
    body 
        h1 Options 
        form(action=`/game/${map}`, method="get") 
            #difficulty
                h2#dif-text Difficulty
                #radios
                    input#easy(type="radio", name="difficulty", value="easy", checked)
                    input#medium(type="radio", name="difficulty", value="medium")
                    input#hard(type="radio", name="difficulty", value="hard")

            #round-timer 
                h2#time-text Round timer
                input#time(type="range", name="time", min="1", max="24", value="12")

            button(type="submit") Continue