doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="stylesheets/signup.css")
        link(rel="shortcut icon" href="/images/favicon.png" type="image/x-icon")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js") 
        script(src="https://kit.fontawesome.com/daa386bf97.js") 
        title Signup - ValorantGeoguessr
    body 
        #back
            i.fa-solid.fa-arrow-left-long
        h1#title Signup
        form(action="/signup", method="post") 
            input(type="text", name="username", placeholder="Username", autocomplete="off")
            input(type="text", name="password", placeholder="Password", autocomplete="off")
            input(type="text", name="repassword", placeholder="Repeate password", autocomplete="off")
            button#submit(type="submit") Sign up
        p #{message}

    script(src="/javascripts/back.js") 